.contenedorDeTodo{
    /* background-color: antiquewhite; */
}


.contenedor div h1{
    color: rgb(0, 0, 0);
    font-family: 'Bangers', cursive;
    font-size: 40px;
    text-shadow: 0px 2px 4px rgb(114, 112, 114), 1px 3px 5px rgb(127, 124, 128);
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenedor div p{
    display: flow-root;
    align-content: center;
    text-align: center;
    margin-left: 18%;
    margin-right: 10%;
}

.skill{
    margin: auto;
    width: 100%;
}

.skill div{
    display: flex;
    align-content: center;
    text-align: center;
    width: 92%;
    margin-left: 3%;
    margin-bottom: 3%;
}

.skill div img{
    width: 110px;
    height: 110px;
    margin-top: 1rem;
    margin-bottom: 15px;
}

.orden{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.orden div{
    text-align: center;
    justify-content: space-evenly;
    width: 15%;
    height: 15%;
    box-shadow: 0px 2px 4px rgb(122, 122, 122), 1px 3px 5px rgb(121, 121, 121);
    border-radius: 5%;
}